img:hover 
{
	opacity: 0.6;
}
button:hover
{
	opacity: 0.6;
}
.service-list
{
	background-color: orange;
	cursor: pointer;
	color: white;
}

.service-list:hover
{
	opacity: 0.6;
}
h5
{
	color:brown;
}
